<div id="messages" {% if is_oob %}hx-swap-oob="true"{% endif %}>
  <script>
    {% for message in messages %}
      Toastify({
        text: "{{ message|escapejs }}",
        duration: 5000,
        close: true,
        gravity: "top",
        position: "right",
        stopOnFocus: true,
        className: "text-sm font-medium text-white px-4 py-2 rounded-md shadow-md z-50 {% if message.tags == 'success' %}bg-green-600{% endif %}{% if message.tags == 'error' %}bg-red-600{% endif %}{% if message.tags == 'warning' %}bg-yellow-600{% endif %}{% if message.tags == 'info' %}bg-blue-600{% endif %}{% if message.tags == 'debug' %}bg-gray-600{% endif %}",
        escapeMarkup: false,
      }).showToast();
    {% endfor %}
  </script>
</div>