{% extends "main.html" %} {% block content %}
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6">
  <!-- Title and Add Button -->
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold text-gray-900">Transactions</h1>
    <div class="flex items-center space-x-3">
      <form
        enctype="multipart/form-data"
        method=post
        action="{% url 'importcsv' %}"
        >
        {% csrf_token %}
        <label
          for="file-upload"
          class="cursor-pointer inline-block bg-stone-700 text-white px-4 py-2 rounded-md shadow-sm text-sm font-medium transition hover:scale-105 hover:bg-stone-900 focus:ring-2 focus:ring-stone-900"
        >
          Import .csv
          <input
            id="file-upload"
            name="transaction_csv"
            type="file"
            accept=".csv"
            class="hidden"
            onchange="this.form.submit()"
          />
        </label>
      </form>

      <form method="get" action="{% url 'exportcsv' %}">
        {% csrf_token %}
        <button
          class="bg-slate-700 text-white px-4 py-2 rounded-md shadow-sm text-sm font-medium transition-colors duration-200 transform hover:scale-105 hover:bg-slate-900 focus:outline-none focus:ring-2 focus:ring-stone-900 focus:ring-offset-2"
        >
          Export .csv
        </button>
      </form>
    </div>
    <button
      hx-get="{% url 'transaction_create_modal' %}"
      hx-target="#modal-placeholder"
      hx-swap="outerHTML"
      class="bg-amber-700 text-white px-4 py-2 rounded-md shadow-sm text-sm font-medium transition-colors duration-200 transform hover:scale-105 hover:bg-amber-900 focus:outline-none focus:ring-2 focus:ring-amber-900 focus:ring-offset-2"
    >
      Add Transaction
    </button>
  </div>

  <!-- Search Bar, Search Button, and Clear Button -->
  <div class="mb-4 w-full">
    <form
      hx-get="{% url 'transaction_search' %}"
      hx-target="#transaction-table-container"
      hx-swap="innerHTML"
      class="flex items-center gap-2"
    >
      {% csrf_token %}
      <input
        type="text"
        name="search"
        class="outline-none w-full p-2 text-sm font-medium text-stone-800 placeholder-stone-500 bg-transparent border-b-2 border-stone-300 focus:border-amber-700 hover:border-amber-700 active:border-amber-700 focus:ring-0 transition-colors duration-200"
        placeholder="Search by name"
        id="search-input"
      />
      <button
        type="submit"
        class="flex items-center px-5 py-2 text-sm font-medium text-stone-50 bg-amber-700 rounded-md shadow-sm transition-colors duration-200 transform hover:scale-105 hover:bg-amber-800 active:scale-95 focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-4 h-4 mr-2"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        Search
      </button>
      <button
        type="button"
        hx-get="{% url 'transaction_search' %}"
        hx-target="#transaction-table-container"
        hx-swap="innerHTML"
        hx-vals='{"search": ""}'
        class="px-5 py-2 text-sm font-medium text-stone-800 bg-stone-200 rounded-md shadow-sm transition-colors duration-200 transform hover:scale-105 hover:bg-stone-400 active:scale-95 focus:outline-none focus:ring-2 focus:ring-stone-500 focus:ring-offset-2"
        aria-label="Clear search"
        onclick="document.getElementById('search-input').value = ''"
      >
        Clear
      </button>
    </form>
  </div>

  <!-- Transaction Table and Pagination -->
  <div id="transaction-table-container" class="overflow-x-auto">
    {% include "partials/transaction_table.html" %}
  </div>
</div>
{% endblock content %}
