{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/output.css' %}" />
    <script src="{% static 'vendors/htmx/htmx.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'vendors/toastify/toastify.css' %}" />
    <script src="{% static 'vendors/toastify/toastify.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>{% block title %}FinTrack - Financial Tracker{% endblock title %}</title>
  </head>
  <body class="bg-stone-50 min-h-screen flex flex-col">
    {% include "components/navbar.html" %}
    {% include "components/modal_placeholder.html" %}
    {% include "components/messages.html" %}
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex-1">
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>